<% if @versions && @versions.length > 0 %>
  <div class="row">
    <div class="col">
      <label>Form Version</label>
      <%= select_tag 'version', options_from_collection_for_select(@versions, "form_version", "for_select_options", @version), class: 'form-control selected-version' %>
      <%= link_to "Download CSV", root_path(version: @version, format: 'csv', page: params[:page]), class: 'btn btn-secondary' %>
    </div>
  </div>
  <br/>
<% end %>
  <% if @survey %>

  <div class="table-wrapper">
      <div class="table-scroller">
      <table class="table" style="width:100%">
      <thead>
        <tr>
          <th class="table-sticky-col" scope="col">UUID</th>
          <% @headers.each do |header| %>
            <th><%= header %></th>
          <% end %>
          <th style="white-space: nowrap;">Start entried at</th>
          <th style="white-space: nowrap;">End entried at</th>
        </tr>
      </thead>
      <tbody>
        <% @survey.each do |data| %>
          <tr>
            <td class="table-sticky-col"><%=  data.uuid %></td>
            <% @headers.each do |header| %>
              <td>

                <% if(data.json_value["#{header}"].kind_of?(Array))
                    value = data.json_value["#{header}"].join(",")
                  else
                    value = data.json_value["#{header}"]
                  end
                %>
                <%= value%>
              </td>
            <% end %>
            <td><%=  data.start_entried_at.strftime '%Y-%m-%d %H:%M:%S' %></td>
            <td><%=  data.end_entried_at.strftime '%Y-%m-%d %H:%M:%S' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <div class="row justify-content-end">
    <%= paginate @survey %>
  </div>
<% else %>
  <p>No data</p>
<% end %>

<script>
  $( "#version" ).change(function() {
    window.location.href = "/?version="+this.value;
  });
</script>
