<!DOCTYPE html>
<html>
<head>
  <title>Chai Family Planning</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container devise-form">
    <div class="row">
      <div class="col-5"></div>
      <div class="col">
        <%= render 'share/alert' %>
      </div>
    </div>
    <div class="row ">
      <div class="col-5">
        <%= image_tag("chai-logo.svg",  alt: "logo", class: 'img') %>
      </div>
      <div class="col">
        <%= yield %>
      </div>
    </div>

    <div id='footer' class='row mat-typography'>
      <div><a href="http://instedd.org" target="_blank">© 2018 InSTEDD</a></div>
      <div style="position: absolute; right: 0">Version 0.1.2</div>
    </div>
  </div>


</body>
</html>
